In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('mta.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute('''CREATE TABLE rides
             (station text, line text, datetime text, entries real, exits real)''')

In [ ]:
newrow = ('somedata',) # TUPLE
c.executemany('INSERT INTO rides VALUES (?,?,?,?,?)', newrow)