In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib2
% matplotlib inline

In [135]:
date = "150516" ## LATER: update to pull most recent week or take an argument
url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_" + date + ".txt"
data = urllib2.urlopen(url)
df = pd.read_csv(data)

In [136]:
df.head()

## it works!!

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/09/2015,00:00:00,REGULAR,5128029,1735976
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/09/2015,04:00:00,REGULAR,5128029,1735976
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/09/2015,08:00:00,REGULAR,5128051,1735997
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/09/2015,12:00:00,REGULAR,5128186,1736096
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/09/2015,16:00:00,REGULAR,5128457,1736177

In [137]:
## check for irregular rows

irreg = sum(df.DESC != "REGULAR")

recoverd = sum(df.DESC == "RECOVR AUD")

## verify that all irregular rows are "recovered audits"
assert(irreg == recoverd)

In [138]:
## filter out PATH trains (DIVISION = "PTH")
lenbefore = len(df)
df2 = df[df.DIVISION != "PTH"]
lenafter = len(df2)

assert(lenbefore > lenafter)
assert(sum(df2.DIVISION == "PTH") == 0)
df = df2

In [139]:
## aggregate by station (we don't care about individual devices)
##  while preserving date/time data

## GROUP_BY station, linename, date, time AGGREGATE entries, exits BY sum
aggdf = df.groupby(["STATION","LINENAME","DATE","TIME"]).sum()
aggdf.head(100)
## some stations share a name, but no stations on the same line share a name, thus use of both STATION and LINENAME
##  (some stations also have multiple UNITs)

                                        ENTRIES  \
STATION LINENAME DATE       TIME
1 AVE   L        05/09/2015 00:00:00  464522607
                            04:00:00  464522608
                            08:00:00  464522611
                            12:00:00  464522612
                            16:00:00  464522614
                            20:00:00  464522615
                 05/10/2015 00:00:00  464522619
                            04:00:00  464522619
                            08:00:00  464522623
                            12:00:00  464522623
                            16:00:00  464522624
                            20:00:00  464522624
                 05/11/2015 00:00:00  464522631
                            04:00:00  464522635
                            08:00:00  464524518
                            12:00:00  464529678
                            16:00:00  464534546
                            20:00:00  464541265
                 05/12/2015 00:00:00  464544565
                            04:00:00  464544577
                            08:00:00  464546511
                            12:00:00  464551934
                            16:00:00  464556795
                            20:00:00  464563931
                 05/13/2015 00:00:00  464567690
                            04:00:00  464567692
                            08:00:00  464569701
                            12:00:00  464575360
                            16:00:00  464580296
                            20:00:00  464587699
...                                         ...
103 ST  1        05/13/2015 17:00:00   60907958
                            21:00:00   60910946
                 05/14/2015 01:00:00   60911844
                            05:00:00   60911931
                            09:00:00   60915529
                            13:00:00   60919057
                            17:00:00   60922092
                            21:00:00   60925279
                 05/15/2015 01:00:00   60926379
                            05:00:00   60926484
                            09:00:00   60929703
                            13:00:00   60933173
                            17:00:00   60936202
                            21:00:00   60939498
        6        05/09/2015 01:00:00   36442007
                            05:00:00   36442136
                            09:00:00   36442835
                            13:00:00   36444076
                            17:00:00   36445634
                            21:00:00   36446755
                 05/10/2015 01:00:00   36447317
                            05:00:00   36447424
                            09:00:00   36447893
                            13:00:00   36448954
                            17:00:00   36450131
                            21:00:00   36451033
                 05/11/2015 01:00:00   36451485
                            05:00:00   36451567
                            09:00:00   36453550
                            13:00:00   36455274

                                      EXITS
STATION LINENAME DATE       TIME
1 AVE   L        05/09/2015 00:00:00                                          478747341
                            04:00:00                                          478747389
                            08:00:00                                          478747458
                            12:00:00                                          478747468
                            16:00:00                                          478747471
                            20:00:00                                          478747477
                 05/10/2015 00:00:00                                          478747493
                            04:00:00                                          478747508
                            08:00:00                                          478747524
                            12:00:00                                          478747542
                            16:00:00                                          478747566
                            20:00:00                                          478747607
                 05/11/2015 00:00:00                                          478747681
                            04:00:00                                          478747714
                            08:00:00                                          478751020
                            12:00:00                                          478756964
                            16:00:00                                          478761030
                            20:00:00                                          478767246
                 05/12/2015 00:00:00                                          478770473
                            04:00:00                                          478770523
                            08:00:00                                          478773998
                            12:00:00                                          478780021
                            16:00:00                                          478784008
                            20:00:00                                          478790507
                 05/13/2015 00:00:00                                          478794050
                            04:00:00                                          478794076
                            08:00:00                                          478797529
                            12:00:00                                          478803417
                            16:00:00                                          478807754
                            20:00:00                                          478814732
...                                                                                 ...
103 ST  1        05/13/2015 17:00:00                                           31401438
                            21:00:00                                           31403790
                 05/14/2015 01:00:00                                           31404823
                            05:00:00                                           31404922
                            09:00:00                                           31405658
                            13:00:00                                           31406627
                            17:00:00                                           31408122
                            21:00:00                                           31410356
                 05/15/2015 01:00:00                                           31411475
                            05:00:00                                           31411592
                            09:00:00                                           31412304
                            13:00:00                                           31413231
                            17:00:00                                           31414746
                            21:00:00                                           31416893
        6        05/09/2015 01:00:00                                           42124542
                            05:00:00                                           42124892
                            09:00:00                                           42125500
                            13:00:00                                           42126687
                            17:00:00                                           42128528
                            21:00:00                                           42130422
                 05/10/2015 01:00:00                                           42131558
                            05:00:00                                           42131925
                            09:00:00                                           42132297
                            13:00:00                                           42133100
                            17:00:00                                           42134432
                            21:00:00                                           42135907
                 05/11/2015 01:00:00                                           42136937
                            05:00:00                                           42137130
                            09:00:00                                           42139469
                            13:00:00                                           42141627

[100 rows x 2 columns]

In [140]:
## some rows are missing -- 103rd St 1 line 8/6/2015 at 9:00am reading missing.
##  how do we identify more such rows?
##    after subtracting prv row value, these rows should be the only ones with negative values
##  how do we fix them?
##    a. remove row entirely (won't someone PLEASE think of the DATA!!)
##    b. interpolate (split the diff btwn next and previous rows) (ideal, but futzier)
##    c. subtract cumulative totals before agg'ing (missing entries will accrue to next row) (easier to implement)

## subtract previous row values for all entries and exits to get total during period
agg = df.groupby(["UNIT", "SCP", "STATION","LINENAME"])
obj = pd.DataFrame()
for name, group in agg:
    #print name
    group = group.reset_index(drop=True)
    #print group.values[0]
    nc_ent = [0]
    nc_ext = [0]
    for i in range(1,len(group)):
        nc_ent.append(group.values[i][9]-group.values[i-1][9])
        nc_ext.append(group.values[i][10]-group.values[i-1][10])
    out = pd.concat([group,
                     pd.Series(nc_ent,name="NC_ENTRIES"),
                     pd.Series(nc_ext,name="NC_EXITS")], axis=1)
    obj = pd.concat([obj,out],ignore_index=True)

obj.describe()

,ENTRIES,EXITS,NC_ENTRIES,NC_EXITS
count,1.822250e+05,1.822250e+05,1.822250e+05,1.822250e+05
mean,3.082787e+07,2.480127e+07,1.345344e+04,1.558693e+04
std,1.830777e+08,1.637886e+08,2.901951e+06,2.953083e+06
min,0.000000e+00,0.000000e+00,-3.104217e+06,-6.188433e+06
25%,6.454080e+05,3.444830e+05,1.000000e+01,8.000000e+00
50%,2.587049e+06,1.574003e+06,8.200000e+01,5.600000e+01
75%,6.240699e+06,4.553139e+06,2.680000e+02,1.790000e+02
max,2.114257e+09,2.087387e+09,1.036157e+09,7.352539e+08

In [141]:
obj[obj.NC_ENTRIES < 0]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,NC_ENTRIES,NC_EXITS
2201,J034,R007,00-00-02,104 ST,JZ,BMT,05/09/2015,04:00:00,REGULAR,2026256283,622292498,-8,-11
2202,J034,R007,00-00-02,104 ST,JZ,BMT,05/09/2015,08:00:00,REGULAR,2026256240,622292490,-43,-8
2203,J034,R007,00-00-02,104 ST,JZ,BMT,05/09/2015,12:00:00,REGULAR,2026256190,622292464,-50,-26
2204,J034,R007,00-00-02,104 ST,JZ,BMT,05/09/2015,16:00:00,REGULAR,2026256128,622292427,-62,-37
2205,J034,R007,00-00-02,104 ST,JZ,BMT,05/09/2015,20:00:00,REGULAR,2026256106,622292365,-22,-62
2206,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,00:00:00,REGULAR,2026256086,622292326,-20,-39
2207,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,04:00:00,REGULAR,2026256077,622292317,-9,-9
2208,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,08:00:00,REGULAR,2026256049,622292310,-28,-7
2209,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,12:00:00,REGULAR,2026256004,622292292,-45,-18
2210,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,16:00:00,REGULAR,2026255952,622292263,-52,-29
2211,J034,R007,00-00-02,104 ST,JZ,BMT,05/10/2015,20:00:00,REGULAR,2026255917,622292227,-35,-36
2212,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,00:00:00,REGULAR,2026255905,622292198,-12,-29
2213,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,04:00:00,REGULAR,2026255902,622292191,-3,-7
2214,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,08:00:00,REGULAR,2026255725,622292166,-177,-25
2215,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,12:00:00,REGULAR,2026255605,622292136,-120,-30
2216,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,16:00:00,REGULAR,2026255530,622292088,-75,-48
2217,J034,R007,00-00-02,104 ST,JZ,BMT,05/11/2015,20:00:00,REGULAR,2026255478,622291934,-52,-154
2218,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,00:00:00,REGULAR,2026255466,622291874,-12,-60
2219,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,04:00:00,REGULAR,2026255462,622291863,-4,-11
2220,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,08:00:00,REGULAR,2026255312,622291832,-150,-31
2221,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,12:00:00,REGULAR,2026255186,622291798,-126,-34
2222,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,16:00:00,REGULAR,2026255102,622291746,-84,-52
2223,J034,R007,00-00-02,104 ST,JZ,BMT,05/12/2015,20:00:00,REGULAR,2026255047,622291580,-55,-166
2224,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,00:00:00,REGULAR,2026255024,622291523,-23,-57
2225,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,04:00:00,REGULAR,2026255021,622291512,-3,-11
2226,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,08:00:00,REGULAR,2026254865,622291486,-156,-26
2227,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,12:00:00,REGULAR,2026254742,622291454,-123,-32
2228,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,16:00:00,REGULAR,2026254677,622291417,-65,-37
2229,J034,R007,00-00-02,104 ST,JZ,BMT,05/13/2015,20:00:00,REGULAR,2026254620,622291282,-57,-135
2230,J034,R007,00-00-02,104 ST,JZ,BMT,05/14/2015,00:00:00,REGULAR,2026254608,622291225,-12,-57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177413,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/12/2015,20:00:00,REGULAR,1827896383,1929901845,-1476,602
177414,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,00:00:00,REGULAR,1827895846,1929901952,-537,107
177415,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,04:00:00,REGULAR,1827895792,1929901954,-54,2
177416,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,08:00:00,REGULAR,1827895745,1929902124,-47,170
177417,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,12:00:00,REGULAR,1827895507,1929902859,-238,735
177418,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,16:00:00,REGULAR,1827894949,1929903182,-558,323
177419,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/13/2015,20:00:00,REGULAR,1827893507,1929903801,-1442,619
177420,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,00:00:00,REGULAR,1827892904,1929903906,-603,105
177421,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,04:00:00,REGULAR,1827892845,1929903912,-59,6
177422,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,08:00:00,REGULAR,1827892788,1929904079,-57,167
177423,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,12:00:00,REGULAR,1827892524,1929904744,-264,665
177424,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,16:00:00,REGULAR,1827892013,1929905089,-511,345
177425,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/14/2015,20:00:00,REGULAR,1827890499,1929905581,-1514,492
177426,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,00:00:00,REGULAR,1827889904,1929905661,-595,80
177427,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,04:00:00,REGULAR,1827889842,1929905666,-62,5
177428,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,08:00:00,REGULAR,1827889804,1929905835,-38,169
177429,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,12:00:00,REGULAR,1827889550,1929906491,-254,656
177430,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,16:00:00,REGULAR,1827888953,1929906858,-597,367
177431,N508,R453,00-00-02,23 ST-6 AVE,FM,IND,05/15/2015,20:00:00,REGULAR,1827887574,1929907390,-1379,532
181440,JFK01,R535,00-00-01,JFK HOWARD BCH,A,IND,05/12/2015,21:00:00,REGULAR,14,66,-6223,-33823
181446,JFK01,R535,00-00-01,JFK HOWARD BCH,A,IND,05/13/2015,21:00:00,REGULAR,0,2,-94,-376
181453,JFK01,R535,00-00-01,JFK HOWARD BCH,A,IND,05/14/2015,21:00:00,REGULAR,0,13,-62,-363
182002,JFK03,R536,00-00-05,JFK JAMAICA CT1,E,IND,05/13/2015,17:00:01,RECOVR AUD,0,0,-94282,-79616
182004,JFK03,R536,00-00-05,JFK JAMAICA CT1,E,IND,05/13/2015,21:00:00,RECOVR AUD,0,0,-94566,-79906
182006,JFK03,R536,00-00-05,JFK JAMAICA CT1,E,IND,05/14/2015,01:00:00,RECOVR AUD,0,0,-94642,-80097
182008,JFK03,R536,00-00-05,JFK JAMAICA CT1,E,IND,05/14/2015,05:00:00,RECOVR AUD,0,0,-94699,-80123
182010,JFK03,R536,00-00-05,JFK JAMAICA CT1,E,IND,05/14/2015,09:00:00,RECOVR AUD,0,0,-94885,-80229
182177,JFK03,R536,00-03-03,JFK JAMAICA CT1,E,IND,05/15/2015,13:00:00,REGULAR,0,1,-59128,-63847
182217,JFK03,R536,00-03-04,JFK JAMAICA CT1,E,IND,05/14/2015,17:00:00,REGULAR,0,0,-2439,-4732
182223,JFK03,R536,00-03-04,JFK JAMAICA CT1,E,IND,05/15/2015,17:00:00,REGULAR,61,68,-2451,-4708

In [7]:
df.describe()

,ENTRIES,EXITS
count,1.912290e+05,1.912290e+05
mean,3.098024e+07,2.549711e+07
std,1.827583e+08,1.663129e+08
min,0.000000e+00,0.000000e+00
25%,5.017000e+05,2.746610e+05
50%,2.302886e+06,1.388752e+06
75%,6.064040e+06,4.406976e+06
max,2.118720e+09,2.087387e+09